*{
    box-sizing: border-box;
}

.cuerpo-1{
    width: 1440px;
}

.encabezado{
    width: 1440px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.fondo{
    position: absolute;
}

.logo-c{
    width: 80px;
    margin-left: 720px;
    margin-top: 100px;
}

.titulo-1{
    font-size: 18;
    font-family:'Bai Jamjuree', sans-serif;
    text-align: center;
}

.texto-1{
    font-weight: 100;
    font-family:'Bai Jamjuree', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    line-height: 20px;
}

.contenedor-1{
    margin-top: -100px;
    width: 500px;
    margin-left: 720px;
}

.boton-1,
.boton-2{
    font-family: 'Bai Jamjuree', sans-serif;
    margin-bottom: 100px;
    margin-left: 20px;
    border-radius: 20px;
    height: 35px;
    width: 150px;
    color: white;
}

.boton-1{
    margin-left: 100px;
    background-color: hsl(171, 66%, 44%);
}

.boton-2{
    background-color: hsl(233, 100%, 69%);
}

.contenedor-2{
    width: 500px;
    margin-left: 720px;
}

.titulo-2{
    font-size: 18;
    font-family:'Bai Jamjuree', sans-serif;
    text-align: center;
}

.texto-2{
    margin-bottom: 200px;
    font-family:'Bai Jamjuree', sans-serif;
    text-align: center;
    font-weight: 100;
    line-height: 20px;
}

.computadora{
    position: absolute;
    margin-top: -80px;
}

.contenedor-3{
    margin-bottom: 300px;
    margin-left: 900px;
    width: 300px;
}

.subtitulo-1,
.subtitulo-2,
.subtitulo-3{
        font-weight: 600;
        font-family:'Bai Jamjuree', sans-serif;
        text-align: left;
}

.subtexto-1,
.subtexto-2,
.subtexto-3{
    font-family:'Bai Jamjuree', sans-serif;
    text-align: left;
    font-weight: 100;
    line-height: 20px;
}


.contenedor-4{
    margin-left: 720px;
    width: 500px;
}

.titulo-3{
    font-size: 18;
    font-family:'Bai Jamjuree', sans-serif;
    text-align: center;
}

.texto-3{
    font-weight: 100;
    font-family:'Bai Jamjuree', sans-serif;
    text-align: center;
    margin-bottom: 80px;
    line-height: 20px;
}

.dispositivos{
    margin-left: 450px;
}

.contenedor-5{
    width: 500px;
    margin-left: 720px;
    margin-bottom: 50px;
}

.titulo-4{
    font-size: 18;
    font-family:'Bai Jamjuree', sans-serif;
    text-align: center;
}

.texto-4{
    font-weight: 100;
    font-family:'Bai Jamjuree', sans-serif;
    text-align: center;
    margin-bottom: 80px;
    line-height: 20px;
}

.contenedor-6{
    margin-left: 400px;
    margin-bottom: 400px;
}


.text-caja,
.preview-caja,
.blacklist-caja{
    position: absolute;
    width: 300px;
    text-align: center;
}

.text-caja{
    margin-top: 10px;
    margin-left: 400px;
}

.preview-caja{
    margin-left: 800px;
    margin-top: 10px;
}

.subtitulo-4,
.subtitulo-5,
.subtitulo-6{
    font-size: 18;
    font-family:'Bai Jamjuree', sans-serif;
    text-align: center;
}

.subtexto-4,
.subtexto-5,
.subtexto-6{
    font-family:'Bai Jamjuree', sans-serif;
    text-align: center;
    font-weight: 100;
    line-height: 20px;
}

.contenedor-7{
    margin-left: 400px;
    margin-bottom: 150px;
}

.ibm,
.microsoft,
.hp,
.vector{
    margin-left: 100px;
}

.encabezado-5{
    margin-left: 720px;
    margin-bottom: 100px;
}

.contenedor-8{
    width: 500px;
}

.titulo-5{
    font-size: 18;
    font-family:'Bai Jamjuree', sans-serif;
    text-align: center;
}

.texto-5{
    font-family:'Bai Jamjuree', sans-serif;
    text-align: center;
    font-weight: 100;
    line-height: 20px;
    margin-bottom: 30px;
}

.boton-3,
.boton-4{
    font-family: 'Bai Jamjuree', sans-serif;
    margin-bottom: 60px;
    margin-left: 20px;
    border-radius: 20px;
    height: 35px;
    width: 150px;
    color: white;
}

.boton-3{
    margin-left: 100px;
    background-color: hsl(171, 66%, 44%);
}

.boton-4{
    background-color: hsl(233, 100%, 69%);
}

.pie{

    width: 1200px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}

.logo-2{
    margin-left: 100px;
    position: absolute;
    width: 60px;
    margin-top: 25px;
}

.contenedor-9{
    margin-left: 300px;
    position: absolute;
    width: 600px;
    height: 100px;
}

.palabra-1,
.palabra-2,
.palabra-3,
.palabra-4,
.palabra-5{
    position: absolute;
    margin-top: 30px;
    font-family:'Bai Jamjuree', sans-serif;
    font-weight: 400;
}


.palabra-2{
    margin-left: 120px;
}

.palabra-3{
    margin-left: 260px;
}

.palabra-4{
    margin-top: 60px;
}

.palabra-5{
    margin-left: 120px;
    margin-top: 60px;
}

.iconos{
    position: absolute;
    margin-left:900px;
    margin-top: 50px;
}

.twitter,
.instagram{
    margin-left: 10px;
}